*{
    padding: 0px; 
    margin: 0px;
}

@font-face {
    font-family: title;
    src: url('MAROLA__.TTF');
}

#ripple{
    height: 100%;
}

.titleLoad{
    font-size: 100px;
    display: flex;
    justify-content: right;
    color: white;
    padding-right: 30px;
    font-family: title;
}

a{
    text-decoration: none;
}

.titleLoad:hover{
    color: green;
}

.welcomeBtn{
    display: inline-block;
    justify-content: center;
    width: 200px;
    font-size: 20px;
}