*{
    padding: 0px;
    margin: 0px;
    cursor: url('cursor.cur'), auto;
}

@font-face {
    font-family: "Nav";
    src: url(assests/Mogen-Bold.ttf);
    font-weight: light;
}

@font-face {
    font-family: "title";
    src: url(assests/DS-DIGII.TTF);
}

@font-face {
    font-family: fac;
    src: url('aAnotherTag.ttf');
}

body{
    background-image: url(brick.jpg);
    background-repeat: stretch;
}

/* Home Page */
.title{
    font-family: fac;
    font-size: 50px;
    color: white;
    text-align: right;
    padding: 0px 30px 0px 0px;
}

.blurb{
    color: white; 
    text-align: center;

}

.options{
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 65px;
}

.folder{
    text-align: center;
    background-image: none;
}

a{
    text-decoration: none;
    font-family: "Nav";
    color: white;
    font-size: 50px;
}

.folder:hover{
    transform: scale(1.5);
}