.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }

  @font-face {
    font-family: "typingFont";
    src: url(assests/bits_indian_calligra/bitsindiancalligra-Regular.ttf);
    font-weight: light;
}
  
  .typing-demo {
    width: 14ch;
    animation: typing 2s steps(15), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: "typingFont";
    font-size: 5em;
  }

  html{
    background: url(assests/VF\ Papyrus\ -\ Red\ Apple\ copy.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  a{
    text-decoration: none;
    color: black;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    .typing-demo{
        font-size: 3em;
        width: 14ch;
    }

    p{
        font-family: "typingFont";
        
    }
    .show{
        display: grid;
    }

    html{
        background: url(assests/smallPapyrus.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
}