ul li{
    display: inline;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: green;
}

.header{
    position: relative;
    padding: 10px;
}

.headerText{
    position: absolute;
    top: 65%;
    right: 40%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

p{
    font-size: 19px;
}

/* Ways of Seeing */
.inFrames{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.women{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.frameSetup{
    display: flex;
    flex-wrap: wrap;
}

img{
    margin: 10px;
    width: 35%;
    align-self: start;
}

.femaleArtist{
    width: 25%;
}

.femaleArtist:hover{
    width: 40%;
    border-style:solid;
    border-color: currentColor;
}
.touched:hover{
    padding: 50px;
}