*{
    /* background-color: #f0ede1; */
    /* background-image: url(assests/Juxtapoz\ Magazine\ -\ Everyday\ Drawings\ by\ Janice\ Wu.jpg); */
}

@font-face {
    font-family: "Nav";
    src: url(assests/Mogen-Bold.ttf);
    font-weight: light;
}

@font-face {
    font-family: "title";
    src: url(assests/DS-DIGII.TTF);
}

ul li{
    display: inline;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: green;
}

p{
    font-size: 19px;
}

/* Home Page */
.title{
    font-family: "title";
}

.folder1{
    text-align: center;
    font-family: "Nav";
    text-decoration: none;
}

.folder2{
    text-align: center;
    font-family: "Nav";
}

/* responses */
.top{
    display: flex;
}

.header2 ul li{
    display: block;
    align-items: center;
    padding: 15px;
    font-size: 20px;
}


.lips{
    margin: 10px;
}

.header{
    position: relative;
}

.headerText{
    position: absolute;
    top: 65%;
    right: 50%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    background: none;
}

/* Ways of Seeing */
.inFrames{
    font-size: 40px;
    display: flex;
    justify-content: center;
}

.women{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.frameSetup{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.femaleArtist{
    width: 25%;
    margin: 10px;
}

.maleArtist{
    size-adjust: none;
    width: 45%;
}

/* Personal Effects */
@font-face {
    font-family: "script";
    src: url(assests/iknowaghost.ttf);
}


.peopleimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#personal{
    font-size: 30px;
    text-align: center;
    text-decoration: line-through;
}

.everything{
    display:flex;
    justify-content: center;
}

#button{
    background-color: white;
    border: none;
}

#quote{
    font-size: 30px;
    text-align: center;
    padding: 400px 10px 400px 10px;
    font-family: "script";
}

/* A Poetry of Proximity  */
.proximityBackground{
    background-image: url(assests/flower.jpg);
}
#PandD{
    display:flex; 
    justify-content: center;
}

.political{
    color: #b7410e;
}

.section1{
    border-radius: 25px;
    padding:5px;
    background-color: antiquewhite;
}

.section2{
    border-radius: 25px;
    padding:5px;
    background-color: #e2b39e;
}

.section2:hover{
    margin-left: 300px;
}

.stanza{
    border-style: groove;
    border: 3px;
}

.stanza:hover{
    text-align: right;
    display: block;

}